<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Secrets</key>
	<dict>
		<key>BASE_URL</key>
		<string>$(BASE_URL)</string>
		<key>RECRUIT_BASE_URL</key>
		<string>$(RECRUIT_BASE_URL)</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
	</array>
</dict>
</plist>
